<br>
<br>


<h1>Stupid Coaching</h1>

<br>
<div class="question">
  <h2></h2>
  <p>-You</p>
</div>

<br>

<div class="answer">
  <h2><%=@answer%></h2>
  <p>-Your coach</p>
</div>
<br>
<br>
<br>
<%= link_to "Ask a new question", ask_path %>
