<br>
<br>

<h1>Welcome to a coaching session!</h1>

<form action="/answer" class="input">
  <input type="text" name="question" placeholder="Ask your coach anything" class="question">
  <input type="submit" value="Ask!" id="button">
</form>
