// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 $gray: #F4F4F4;

 body {
   background: $gray; // Using this variable
 }

a {
  color: #1F1D36;
  &:hover {
    color: #B91646;
  }
}

.answer {
  background-color: rgba(255,255,180,0.4);
  font-size: 20px;
  padding: 10px;
  margin: auto;
}
.question {
  background-color: rgba(255,255,180,0.4);
  font-size: 20px;
  padding: 10px;
  margin: auto;
}

#button {
  background: #113CFC;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  // font-weight: bold;
  // font-size: 15px;
  // margin: 10px;
}

.question {
  width: 100%;
}

.input {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  height: 40px;
  border-radius: 5px;
  border-color: grey;
}
